<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="StorageManageEntities"
			 connectionString="Data Source=localhost\MSSQLSERVER01;Initial Catalog=QL_KHO;Integrated Security=True;App=EntityFramework"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>