<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="QLKEntities" connectionString="metadata=res://*/Models.QLKhoModel.csdl|res://*/Models.QLKhoModel.ssdl|res://*/Models.QLKhoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-PU117BH;initial catalog=QLK;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>